.boxik {
    max-width: 14rem;

    background-color: lightgrey;
}

.bg-red {
    background-color: red;
}

.box {
    max-width: 14rem;
}

#boxs {
    height: 100vh;
}

.boxs {
    height: 100vh;
}

.box:hover {

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: transform 0.4s, box-shadow 0.4s;

}

.box:hover .img-b {
    transform: scale(1.1);
    transition: transform 0.4s;
}

.box .img-b {
    transform: scale(1);
    transition: transform 0.4s;
}

.imagebox {
    width: 100%;
    /* nebo např. 50%, podle potřeby */
    aspect-ratio: 1 / 1;
    /* udrží čtvercový tvar */
    overflow: hidden;
    /* skryje přečnívající části obrázku */
    position: relative;
    border-radius: 0.75rem;
}

.imagebox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ořízne přečnívající části, zachová poměr stran */
    object-position: center;
    /* zobrazí střed obrázku */
}

body {
     font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: rgb(230, 230, 230);
}

.box {
    border-radius: 1.25rem;
    /* zakulacené rohy */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* jemný stín */
    border: 1px solid rgb(204, 204, 204);
    /* outline nebo ohraničení */
    overflow: hidden;
    /* skryje přečnívající obsah */
    background: white;
    /* podklad */
    margin: 5px;
    /* centrování na stránce */
    /* plynulý přechod stínu */
    transition: transform 0.4s, box-shadow 0.4s;

    h5 { font-size: 1.1rem; font-weight: 600; }
    p { font-size: 0.75rem; font-weight: 400;color: #616161;}
}


h1 { font-size: 3rem; font-weight: 700; }
h2 { font-size: 2.5rem; font-weight: 600; }
h3 { font-size: 2rem; font-weight: 600; }
h4 { font-size: 1.5rem; font-weight: 500; }
h5 { font-size: 1.2rem; font-weight: 500; }
h6 { font-size: 1rem; font-weight: 400; }
p  { font-size: 1rem; line-height: 1.6; }

@media (min-width: 992px) { /* odpovídá lg breakpointu */
  .custom-col {
    flex: 0 0 18%;   /* šířka % */
    max-width: 18%;
  }
}

.mezera {
    gap: 20px;
    
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 1rem;
  justify-content: center; /* vycentruje řádky */
  

}

.card {
  width: 224px;   /* musí odpovídat hodnotě v grid-template-columns */
  height: 150px;  /* jen ukázka */
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 90%; /* nebo třeba 90% */
  }
}


